* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #202020;
}

.navbar {
    color: white;
}

.CAC form {
    /* display: flex; */
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.CAC form .inputs {
    margin: 10px 0;
    width: 50rem;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.CAC form button {
    border: none;
    margin: 15px;
    background-color: #af73d1;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    font-weight: 500;
}

.span-result {
    background: #fff;
    width: 200px;
}

.CAC form button:hover {
    background-color: #8243a7;
}

.CAC {
    background-color: #00000000;
}

h1 {
    text-align: center;
}


.tabelaIMC {
    display: flex;
}

.tabelaIMC table {
    margin: 0 auto;
    display: flex;
    font-size: 15px;
    border-radius: 10px;
}

.tabelaIMC table .span{
    background-color: #8243a7;
    color: white;
    border-radius: 5px;
}

.tabelaIMC table .center {
    text-align: center;
}

.tabelaIMC table td {
    padding: 10px;
    border-bottom: 0.1px solid #af73d1;
}

.tabelaIMC table .active {
    background-color: #b07dc4;
}